/* source-code-pro-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/source-code-pro-v23-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-code-pro-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/source-code-pro-v23-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* source-code-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/source-code-pro-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.columnsContainer,
footer,
header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.leftColumn,
.rightColumn,
footer,
header {
  border: 1px solid #ccc;
  padding: 1.25em;
  height: 100vh;
  overflow: hidden;
  align-content: center;
}

.panel-full {
  position: relative;
  border: 1px solid #000;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  padding: 1em;
  overflow: hidden;
  height: 90vh;
  vertical-align: middle;
}

/* .leftColumn {
  margin-bottom: 0.5em;
} */
.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.nav>li,
.nav>li>a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.inline-items {
  margin-top: 0;
}

.inline-items li {
  margin-left: 0;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.inline-items li:first-child {
  margin-left: 0;
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.inline-items li:last-child {
  padding-right: 0;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em) {
  .leftColumn {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
  }

  .rightColumn {
    position: absolute;
    top: 0;
    left: 100%;
    width: 0%;
  }
}


.symbols {
  position: absolute;
  z-index: 7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff, -1px 0px 0 #fff,
    1px 0px 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff,
    -2px -2px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff, -2px 0px 0 #fff,
    2px 0px 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff, 1px -2px 0 #fff,
    -1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

.symbols2x1 {
  position: absolute;
  z-index: 7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6vmax;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff, 0px 1px 0 #fff, 0px -1px 0 #fff, -1px 0px 0 #fff,
    1px 0px 0 #fff, 2px 2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff,
    -2px -2px 0 #fff, 0px 2px 0 #fff, 0px -2px 0 #fff, -2px 0px 0 #fff,
    2px 0px 0 #fff, 1px 2px 0 #fff, -1px 2px 0 #fff, 1px -2px 0 #fff,
    -1px -2px 0 #fff, 2px 1px 0 #fff, -2px 1px 0 #fff, 2px -1px 0 #fff,
    -2px -1px 0 #fff;
}

.smileymark {
  position: absolute;
  z-index: 7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  color: black;
  font-weight: 600;
  margin: 0;
}

.smiley {
  margin: 0;
}

#figure {
  position: absolute;
  z-index: 2;
  width: 30vh;
}

#figure2 {
  position: absolute;
  z-index: 3;
  width: 200px;
}

#perspective-lines {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 80px;
  fill: none;
  stroke: #000000;
  stroke-width: 0.2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}

#perspective-lines2 {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 80px;
  fill: none;
  stroke: #000000;
  stroke-width: 0.2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}

.abstract-shape {
  z-index: 2;
  position: absolute;
}

.abstract-shape2 {
  z-index: 2;
  position: absolute;
}

.abstract-shape-stroke {
  fill: url(#myGradient);
  stroke: black;
  stroke-width: 0;
  z-index: 2;
  position: absolute;
}

#kittygrid-5 {
  fill: white;
  stroke: black;
  stroke-width: 0;
  z-index: 2;
  position: absolute;
}

#kittygrid-6 {
  fill: url(#myGradient2);
  stroke: black;
  stroke-width: 0;
  z-index: 2;
  position: absolute;
}

.kittyGrid {
  fill: none;
  stroke: black;
  stroke-width: 2;
  z-index: 2;
  position: absolute;
  width: 23vw;
}

.emojiGrid {
  position: relative;
  text-align: center;
}

.svg-clipped {
  position: absolute;
  z-index: 2;
  -webkit-clip-path: url(#kitty);
  clip-path: url(#kitty);
  transform: translateZ(0);
  /* animation: move 7s ease-in-out infinite;
  animation-delay: 0s; */
}

#kitty {
  fill: "
#ffffff ";
stroke: " #000000 ";
  stroke-width: " 1.5794
";
stroke-miterlimit: " 10
";
transform: scale(1);
}

.bubble-text {
  position: absolute;
  z-index: 6;
  font-size: 45px;
}

.bubble-text2 {
  position: absolute;
  z-index: 6;
  font-size: 45px;
}

.bubble {
  position: absolute;
  top: 100px;
  left: 100px;
}

.bubble-true {
  position: relative;
  z-index: 5;
  max-width: 30em;
  background-color: #fff;
  padding: 0.6em 0.75em;
  font-size: 2em;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.bubble-true::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 98%;
  left: 1.25em;
  border: .75rem solid transparent;
  border-bottom: none;
  border-top-color: #fff;
  filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, .1));
}

.panel-2x2 {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  top: 8%;
}

.panel-4x4 {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  top: 8%;
}

.panel-2x1text {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  top: 8%;
}

.panel-4x1text {
  position: relative;
  margin: 20px auto;
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-row: auto;
  top: 8%;
}

.panel-right-text {
  margin-top: 10vh;
  margin-left: 30vw;
  margin-right: 10vw;
}

.text-title {
  font-size: 3.5vmax;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  text-align: justify;
}

.panel-title {
  position: relative;
  top: 45%;
}

.text-box {
  margin: 20px auto;
  font-family: "Source Code Pro", monospace;
  font-weight: 200;
  font-size: 3vmax;
}

.title {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 4vmax;
  text-align: center;
  position: relative;
  z-index: 10;
}

.H1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 24px;
  text-align: justify;
}

#under-text {
  margin-top: 1em;
  width: 500px;
}

#side-text {}

.box {
  padding: 20px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.box-nopad {
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  fill: url(#gradientSquare);
}

.box-emoji {
  border: solid 1px black;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  height: 20vh;
  line-height: 20vh;
  font-family: sans-serif;
}

.box-vert {
  padding: 20px;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  margin: 10px;
  height: 120px;
}

.box-noborder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
  margin: 0.5em;
}

.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@media (max-width: 575.98px) {
  #titlestart {
    font-size: 4.5vw;
  }
#titlestart::after {
  content: " / BURY A FRIEND";
}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
